.btn-primary{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
}

.text-center{
    text-align: center;
    margin-top: 90px;
}

