.btn-info{
    position: absolute;
    bottom: 10px;
    right: 35px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 36px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
}

.form-control{
    margin-left: 150px;
}

.text-center{
    margin-top: 80px;
}
