div{
margin-top:30px;
margin-right:40px;
margin-left:40px;
text-align: center;
color:white;
}

.btn-success{
    position: absolute;
    bottom: 8px;
    right: 145px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 36px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
}

.btn-primary{
    position: absolute;
    bottom: 8px;
    right: 275px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 36px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
}

.btn-info{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 36px;
    border-radius: 60px;
    font-size: 15px;
    cursor: pointer;
}

